
<section class="portfolio-section">
  <ul>
    <li ng-repeat="entry in entries" ng-click="gotoLink(entry.fields.url)" class="entry"><img src="{{getAsset(entry.fields.thumbnail.sys.id)}}"/>
      <div class="info">
        <div class="info-background"></div>
        <div class="info-text">
          <p class="title">{{entry.fields.name}} &mdash; <span>{{entry.fields.client}}</span></p>
          <p class="agency"> <span ng-repeat="role in entry.fields.role">{{role}} {{$last ? "" : "/"}} </span>[at] {{entry.fields.agency}}</p>
          <p class="tech"><span ng-repeat="tech in entry.fields.technology">{{tech}}</span></p>
        </div>
      </div>
    </li>
  </ul>
</section>