section.portfolio-section
	ul
		li.entry(ng-repeat="entry in entries" ng-click="gotoLink(entry.fields.url)")
			img(src="{{getAsset(entry.fields.thumbnail.sys.id)}}")
			.info
				.info-background
				.info-text
					p.title {{entry.fields.name}} &mdash; 
						span {{entry.fields.client}}
					p.agency 
						span(ng-repeat="role in entry.fields.role") {{role}} {{$last ? "" : "/"}} 
						[at] {{entry.fields.agency}}
					p.tech
						span(ng-repeat="tech in entry.fields.technology") {{tech}}